* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Loading Spinner*/
#loading {
	background-image: url('../images/infinityspinner.gif');
	background-color: white;
	border-radius: 15px;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -100px;
	width: 200px;
	height: 200px;
	position: fixed;
	border: 2px solid black;
	box-shadow: 5px 10px;
	z-index: 22;
	transition: all 0.5s ease; /* Transition anything that's changed */
}

body.loaded #loading {
	visibility: hidden;
	opacity: 0;
}

body.unloaded #loading {
    visibility: visible;
    opacity: 1;
}

body.loaded .content{
	filter: none;
	visibility: visible;
}

body.unloaded .content {
	visibility: hidden;
	filter: blur(5px);
	transition: all 0.5s ease; /* Transition anything that's changed */
}

/* GLOBAL STYLES */
body {
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1 { 
    color: black;
    font-size: 20px;
}

.container {
    width: 85%;
    margin: 0 auto;

}

.d-none{
    display: none!important;
}

p {
    line-height: 28px;
}

.btn {
    font-size: 16px;
    background-color: black;
    padding: 9px;
    border: none;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: rgb(54, 54, 54);
}

/* Box Model */

.pad-x{
    padding: 0 50px;
}

.pad-y{
    padding: 50px 0;
}

.small-pad-top {
    padding-top: 20px;
}

.pad-top {
    padding-top: 50px;
}

.big-pad-top {
    padding-top: 80px;
}

.small-pad-bottom {
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 50px;
}

.big-pad-bottom {
    padding-bottom: 80px;
}

.margin {
    margin: 50px;
}

.small-margin-top {
    margin-top: 20px;
}

.margin-top {
    margin-top: 50px;
}

.big-margin-top {
    margin-top: 80px;
}

.small-margin-bottom {
    margin-bottom: 20px;
}

.margin-bottom {
    margin-bottom: 50px;
}

.big-margin-bottom {
    margin-bottom: 80px;
}


/* Flex box */
.flex {
    display: flex;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.bottom-y {
    align-items: flex-end;
}

.lg-column {
    flex-direction: column;
}


/* MAIN MENU */
#main-menu {
    background-color: white;
    min-height: 80px;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    padding: 0 7.5%;
}

#main-menu h1 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#main-menu a {
    color: black;
}

#main-menu a:hover {
    color: grey;
}

#main-menu .current a {
    color: grey;
}

#main-menu li {
    padding: 0 36px;
    font-weight: bold;
    list-style: none;
}

#main-menu img {
    height: 25px;
    margin-left: 10px;
}

/*!* BUBBLE SECTION *!*/
/*#bubble-section {*/
/*    background: white;*/
/*    min-height:100vh;*/
/*}*/

/* Banner */
.overlay {
    background: rgba(1, 31, 165, 0.39);
    height: 100%;
    width: 100%;
}

.banner {
    min-height: 35vh;
    background: #D9D9D9;
}

.banner h1 {
    font-size: 48px;
    color: white;
    padding-bottom: 20px;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

/* FILTER PAGE */
.fltr-location {
    justify-content: space-between;
    padding: 0 7.5%;
}

.fltr-location h2 {
    display: flex;
    align-items: center;
}

.fltr-location select {
    height: 30px;
    min-width: 125px;
    border: none;
    border-radius: 5px;
    margin: 20px 10px 20px 0;
}

#fltr-location-1 {
    background: grey;
}

#fltr-location-2 {
    background: rgb(212, 210, 210);
}

#fltr-location-2 button {
    /* Helps allign the dropdowns between location 1 and 2 */
    visibility: hidden;
}

.btn-checked {
    background-color: darkgrey;
}

/* Form */
form input {
    height: 34px;
    padding-left: 10px;
}

form label {
    margin-bottom: 12px;
}

form textarea {
    padding-left: 10px;
    padding-top: 10px;
}

form input, form textarea {
    border: 2px solid black;
    border-radius: 3px;
    margin-bottom: 24px;
    width: 50%;
}

form .btn {
    border: none;
    cursor: pointer;
}

/* COMING SOON PAGE */
#coming-soon {
    background-color: rgb(180, 176, 176);
    height: 75vh;
}

#coming-soon h1 {
    font-size: 48px;
}

/* FOOTER */

footer {
    color:#fff;
    background-color:black;
}

footer ul {
    list-style: none;
    color: white;
    justify-content: space-between;
    padding-bottom: 20px;
}

footer li {
    margin-bottom: 20px;
}

footer a {
    color: white;
}

footer h3 {
    font-family:'Montserrat', sans-serif; ;
}

footer p {
    color: grey;
}

footer a:hover {
    color: grey;
}


/* Social Media Links */
.icon {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-right: 32px;
    cursor: pointer;
    background-size: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    /* GLOBAL */
    * {
        overflow-x: hidden;
    }
    
    p {
        text-align: justify;
    }

    .sm-column {
        flex-direction: column;
    }

    .btn {
        display: block;
        width: 100%;
        text-align: center;
    }

    /* MAIN MENU */
    #main-menu ul, #main-menu .logo {         
        justify-content: center;
        padding: 20px 0;
        width: 100%;
    }

    #main-menu li {
        padding: none;
    }

    /* FILTER PAGE */
    .fltr-location select {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .fltr-location h2 {
        justify-content: center;
        margin: 12px 0;
    }
    
    .fltr-location .btn {
        margin-bottom: 20px;
    }

    #fltr-location-2 button {
        /* Helps allign the dropdowns between location 1 and 2 */
        display: none;
    }

    /* FOOTER */
    footer {
        display: flex;
    }

    footer p {
        text-align: center;
    }

    footer li, footer h3 {
        line-height: 42px;
        text-align: center;
    }

    .icon {
        margin-right: 0;
    }

    #social-media-icons {
        display: flex;
        justify-content: space-between;
    }

    form input, form textarea {
        width: 100%;
    }
}

