* {
	box-sizing: border-box;
}

#content-container {
	display: grid;
	grid-template-columns: min-content min-content;
	transition: all ease-in-out 0.5s;
}

#map-container {
	grid-area: 1 / 1 / 2 / 2;
	display: grid;
	grid-template-columns: min-content min-content;
	z-index: 0;
}

#map {
	height: 100vh;
	/* Uses viewport (vw & vh) units: https://css-tricks.com/fun-viewport-units */
	background-color: white;
	box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
	grid-area: 1 / 1 / 2 / 2;
	transition: width ease-in-out 0.5s
}

#vl {
	border-left: 1vw solid #474747;
	height: 100vh;
	/*position: absolute;*/
	/*left: 40vw;*/
	top: 0;
	grid-area: 1 / 2 / 2 / 3;
	cursor: pointer;
}

.collapse {
	width: 0; !important;
	/*height: 0; !important;*/
	/*transition: width ease-in-out 0.5s*/
}

.beforeCollapse {
	width: 40vw;
}
