* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* GLOBAL STYLES */
body {
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1 { 
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.container {
    width: 85%;
    margin: 0 auto;

}

/* Box Model */

.pad-x{
    padding: 0 50px;
}

.pad-y{
    padding: 50px 0;
}

.small-pad-top {
    padding-top: 20px;
}

.pad-top {
    padding-top: 50px;
}

.big-pad-top {
    padding-top: 80px;
}

.small-pad-bottom {
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 50px;
}

.big-pad-bottom {
    padding-bottom: 80px;
}

.margin {
    margin: 50px;
}

.small-margin-top {
    margin-top: 20px;
}

.margin-top {
    margin-top: 50px;
}

.big-margin-top {
    margin-top: 80px;
}

.small-margin-bottom {
    margin-bottom: 20px;
}

.margin-bottom {
    margin-bottom: 50px;
}

.big-margin-bottom {
    margin-bottom: 80px;
}


/* Flex box */
.flex {
    display: flex;
}

.center-y {
    align-items: center;
}


/* MAIN MENU */
#main-menu {
    background-color: rgb(192, 187, 187);
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#main-menu a {
    color:black;
}

#main-menu a:hover {
    color: grey;
}

#main-menu .current a {
    color: grey;
}

#main-menu li {
    padding: 0 20px;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    padding-right: 8%;
}

nav h1 { 
    margin-left: 80px;
}

/* BUBBLE SECTION */
#bubble-section {
    background: white;
    min-height:100vh;
}


/* FOOTER */

footer {
    color:#fff;
    background-color:black;
}

footer ul {
    list-style: none;
    color: white;
}

footer li {
    margin-bottom: 20px;
}

footer a {
    color: white;
}

footer a:hover {
    color: grey;
}

hr {
    border: 1px solid rgb(192, 187, 187);
}