* {
	box-sizing: border-box;
}

body {
	background-color: lightgray;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	padding: 2em;
}

#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	background: white url(../images/loading.gif) no-repeat center center;
	top: 0;
	left: 0;
	transition: all 0.5s ease; /* Transition anything that's changed */
	z-index: 200;
}

body.loaded #loading {
	opacity: 0;
	visibility: hidden; /* Good practice to include as a fallback to opacity */
}

#records {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.record {
	display: block;
	width: 100%;
	padding: 2em;
	background-color: white;
	box-shadow: rgba(0,0,0,0.25) 0 5px 5px;
	border-radius: 5px;
	margin-bottom: 2%;
	position: relative;
}

.record.record-template {
	display: none;
}

.record .record-content {
	display: flex;
	align-items: flex-start;
}

.record .record-image {
	max-width: 150px;
	max-height: 150px;
	margin-top: 1em;
}

.record .description {
	padding-left: 1.5em;
}

.record .year {
	position: relative;
	font-size: 0.8em;
	text-transform: uppercase;
	margin-top: 1em;
	padding: 1em 2em;
	color: white;
	background-color: black;
	display: block;
	text-decoration: none;
	text-align: center;
	letter-spacing: 2px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.record .year span {
	font-weight: bold;
}

.record .year:hover {
	background-color: gray;
}

.loading-small {
	border: 0.3em solid gray;
	border-top: 0.3em solid white;
	border-radius: 100%;
	width: 2em;
	height: 2em;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.5em;
	animation: spinLoading 1.5s linear infinite;
	opacity: 0;
}

@keyframes spinLoading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.record .year.loading .loading-small {
	opacity: 1;
}

.record .more-images {
	display: none;
}

.record .more-images.active {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
}

.record .more-images img {
	width: 25%;
	margin: 0.5em;
	border-radius: 5px;
}

@media only screen and (min-width: 750px) {
	.record {
		width: 49%;
	}
}

@media only screen and (min-width: 1200px) {
	.record {
		width: 32%;
	}
}